* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.f { display: flex; }
.r { flex-direction: row }
.c { flex-direction: column }

/* vertical stuff */
.v { align-items: center }
.vs { align-items: flex-start }
.ve { align-items: flex-end }

/* horizontal stuff */
.h { justify-content: center }
.hs { justify-content: flex-start }
.he { justify-content: flex-end }

/* wraps - we're going to need it! */
.w { flex-wrap: wrap; }
.wr { flex-wrap: wrap-reverse; }

/* because this is arguably the prettiest spacing*/
.s { justify-content: space-around; }
.sb {justify-content: space-between;}

body {
    width: 80%;
    padding: 35px;
}

header {
    background: #FCA311;
    margin: 5px;
    padding: 35px;
}

li {display: inline;}

.hero {
    margin: 5px;
    padding: 35px;
    background: #14213D;
}

.hero h2 {
    color:#E5E5E5;
}

.hero-img {
    height: 25%;
    width: 60%;
}

.about {
    background: #E5E5E5;
    margin: 5px;
    padding: 20px;
    color: #14213D;
}

.about h3 {
    color: #14213D;
    background: #FCA311;
}

.work-section {
    background: #FCA311;
    text-align: center;
    margin: 5px;
    padding: 35px;
}

.work-section h3 {
    color: #14213D;
    background: #E5E5E5;
}

.work-section h4 {
    color: #14213D;
    background: #E5E5E5;
}

article img {
    height: 100px;
    width: 250px;
}

.first-img {
    width: 80%;
    height: 40%;
}

.contact {
    text-align: center;
    background: #E5E5E5;
    margin: 5px;
    padding: 20px;
    color: #14213D;
}
